@import '~drift-zoom/dist/drift-basic.css';

.preview-image {
    background: var(--ins-secondary-bg);
    border: 1px solid var(--ins-border-color);
    padding: 2px;
    width: 250px;
    height: 500px;
    float: left;
}

.zoom-container {
    height: 500px;
    width: 500px;
    margin-left: 30px;
    float: left;
    position: relative;
}
